.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/tsconfig.json
webview-ui/vite.config.ts
node_modules/**
!node_modules/sql.js/**
dist/core/**
dist/test/**
dist/views/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
**/*.vsix
**/*.sqlite
**/*.sqlite3
**/*.db
docs/**
.DS_Store
